/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#008080;
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 50px;
    background: #FFA07A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    position: relative;
}
.buttons .btn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.3s;
}
.buttons .btn:hover {
    background-color: #ddd;
    transform: scale(1.1);
}
#resultado {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
@keyframes confetti {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100px); opacity: 0; }
}
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 1;
    animation: confetti 1s linear infinite;
}